.fade-in {
    opacity: 0;
    transform: translateY(30px); /* Optional: Adds some upward movement */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }